.subprincipal-news{
    display: flex;
    gap: 2vw;
}
.container-main-news{
    position: relative;
}
.news-img-highlighted{
    width: 50vw;
    height: 54vh;
    object-fit: cover;
}
.news-img{
    width: 24vw;
    height: 27vh;
    object-fit: cover;
}
.news-text{
    position: absolute;
    bottom: 10px;
    left: 10px;
}