.nav-bar{
    display: flex;
    gap: 2vw;
    font-family: Lora;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #c9bc96;
    text-transform: uppercase;
    padding-left: 2.9vw;
    padding-top: 10px;
    padding-bottom: 20px;
}
.nav-bar span:hover{
    color: #dfd8ca;
    cursor: pointer;
}