.LoginScreen{
    display: flex;
}
.aside-login-signup{
    width: 26vw;
    height: 100vh;
    padding: 8vh 3.7vw 0 3.7vw;
    background-color: #f9f9f9;  
}
.logo-login-screen {
    width: 7.6vw;
    display: block;
    margin: auto;
}
.aside-login-signup h1{
    text-align: center;
    font-size: 1.5rem;
    color: black;
    margin-top: 8.6vh;
    margin-bottom: 2vh;
}
.aside-login-signup input{
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 14px 18px 16px 18px;
    background-color: #ededed;
    color: rgb(80, 80, 80);
    border: none;
    border-radius: 4px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.7rem;
}
.aside-login-signup input:hover{
    background-color: #e2e2e2;
}
.aside-login-signup input::placeholder, .aside-login-signup input::-webkit-input-placeholder{
    color: #999999;
}
.login-with-another-platform{
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-top: 2vh;
}
.icons-login{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 33px;
    border-radius: 4px;
}
.icons-login img{
    width: 15px;
    object-fit: contain;
}
.icon-blue{
    background-color: #1877f2;
    border: 1px solid #1771e6;
}
.icon-white{
    background-color: white;
    border: 1px solid #f2f2f2;
}
.icon-black{
    background-color: black;
}

.bg-loginscreen{
    width: 74vw;
    height: 100vh;
}
.bg-loginscreen img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}