.containerLeft{
    width: 19vw;
    padding-left:2.9vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #9b9992;
    margin-top: 3vh;
}
.mastery-numbers{
    text-transform: uppercase;
    color: #928e81;
    text-align: center;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 1.1px;
    border: 1px solid #896f39;
    border-radius: 10px; 
    padding: 15px 0px;
    position: relative;
} 
.mastery-numbers h2{
    background-image: linear-gradient(to bottom, #eed399, #896f39);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #cab17a;
    font-size: 2.5rem;
}
.goals-reached-mastery{
    margin: 10px 0px;
}
.containerLeft input, .containerLeft select{
    background: transparent;
    border: 1px solid #785a28;
    padding: 6px;
    color: #9b9992;
    outline-offset: 0;
}
.containerLeft input:hover, .containerLeft input:focus, .containerLeft select:hover{
    border: 1px solid #b48b33;
    outline: none;
}
.containerLeft select:focus{
    border: 1px solid #b48b33;
    opacity: 0.4;
}

.acquired-champions{
    position: relative;
}
.acquired-champions [type="checkbox"]:not(:checked),
.acquired-champions [type="checkbox"]:checked {
    all: unset;
    border: 1px solid #785a28;
    width: 10px;
    height: 10px;
    display: inline-block;
    opacity: 0.9;
    position: relative;
    margin-right: 8px;
  }
.acquired-champions [type="checkbox"]:not(:checked) ~ #checkmark{
    display: none;
}
.acquired-champions [type="checkbox"]:checked ~ #checkmark{
    display: inline;
    position: absolute;
    left: 2px;
    bottom: 3px;
}
.acquired-champions:hover {
    color: #aca9a1;;
}

.skins-acquired{
    border: 2px solid #785a28;
    border-radius: 100%;
    width: 10vw;
    height: 10vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #020e1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skins-acquired p {
    line-height: 1.3rem;
}
.margin-skins-acquired{
    margin-top: 4.5vw;
}
.skins-type{
    margin-top: 6vw;
}