@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #c9bc96;
}
.main{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    display: flex;
    position: relative;
    color: #c9bc96;
}

