@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
main{
    background-image: linear-gradient(#010a13 20%, #092b3a);
    overflow-y: hidden;
    display: flex;
    height: 100vh;
    font-family: Roboto;
}
.items-body{
    display: flex;
}
