.container{
    display: flex;
    gap: 0px 2vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    width: 64vw;
    height: 95vh;
    color: #73736a;
    /* Works on Firefox */
    scrollbar-width: 8px;
    scrollbar-color: #785a28;
}
  
.container::-webkit-scrollbar {
    /* Works on Chrome, Edge, and Safari */
    width: 8px;
} 
.container::-webkit-scrollbar-thumb {
    background-color: #785a28;
    border-radius: 10px;
  }
.championBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.championPhotoAndMastery{
    position: relative;
}
.championPhotoAndMastery img{
    width: 10vw;
}
.masteryLevel{
    position: absolute;
    box-sizing: content-box;
    bottom: -2.5%;
    left: -1.2vw;
    z-index: 1;
    fill: url(#my-cool-gradient) #447799;
    height: 25%;
    width: 5vw;
}
.mastery{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
}

.championBanner span{
    margin: 1vh;
}