.magnum-header{
    width: 83vw;
    height: 11vh;
    box-sizing: border-box;
    padding: 0 0 0 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c9bc96;
    font-family: Lora;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #3d4143;
}
.logo{
    width: 45px;
}
.left-header{
    display: flex;
    align-items: center;
    gap: 30px;
}
.link-hover:hover{
    color: #c9bea0;
    cursor: pointer;
}
.user-data-nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.inventory{
    display: flex;
    align-items: center;
    gap: 20px;
}
.wallet{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 25px;
}
.wallet-data{
    display: flex;
    align-items: center;
    gap: 10px;
}
.wallet-color-text{
    color: #ddd6c1;
}
